.form {
    container-type:inline-size;
}

.input.form[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.full-body {
  width: 800px;
  margin: 30px auto;
}

.wrapper {
  width: 800px;
  margin: 30px auto;
  };
  